sentence-transformers==4.1.0
transformers==4.51.3
tokenizers==0.21.1
huggingface-hub==0.31.2
google==3.0.0
google-generativeai==0.8.5
scikit-learn
scipy==1.15.3
openpyxl==3.1.5
openai==1.78.1
faiss-cpu==1.11.0
numpy==2.2.5
pandas==2.2.3
python-dotenv==1.1.0
langgraph==0.4.3
langchain==0.3.25
langchain-openai==0.3.16
langchain-community==0.3.24
langchain-google-genai==2.0.10
langchain-core==0.3.59
langchain-community==0.3.24
langchain-google-vertexai==2.0.23
langsmith==0.3.42
PyPDF2==3.0.1
typing



